@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #181818;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.quick-view-tooltip::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #2b2a2a;
  right: -5px;
  transform: rotate(45deg);
  top: 45%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.wishlist-tooltip::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #2b2a2a;
  right: -5px;
  transform: rotate(45deg);
  top: 45%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.clx-wrapper:hover .clx {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
